@font-face {
    font-family: 'Calibri';
    src: url('../police/calibri.ttf') format('truetype');
    /* Ajoutez d'autres formats de police si nécessaire (e.g., woff, woff2) */
}

@font-face {
    font-family: 'Calibribolt';
    src: url('../police/calibri_bold.ttf') format('truetype');
    /* Ajoutez d'autres formats de police si nécessaire (e.g., woff, woff2) */
}
@media only screen and (min-width: 768px) { 
/* GENERAL */
body {
    font-family: 'Calibri', sans-serif !important;}
h1 {
    font-family: 'Calibribolt', sans-serif !important;
    color: #1E1E1E;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}

h2 {
    font-family: 'Calibribolt', sans-serif !important;
    color: #1E1E1E;
}
#navbarbox {
    position: sticky;
    top : 0px;
    z-index: 99;
}
/* TOP */
.divtop {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.divtopdroite {
    margin-left: 50px;
}
.logotopdroite {
    width: 40px!important;
    margin-right: 25px!important;
    align-items: center;
}
.phototopgauche {
    width: 749px;
    height: 648px; 
}

ul {
    list-style-type: none;

}

li, .suivreariste {
    font-size: 25px;
    margin-top: 15px;

}

.nomartiste {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

/*ALBUM*/ 
.albumartiste {

    width: 90vw;
    margin: auto;
}

.album1, .album2,.album3, .album4, .album5, .album6 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.album21, .album22,.album23, .album24, .album25, .album26 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.trait {
    margin-left: 50px;
    width: 2px;
    height: 400px;
    background-color: #000000;

}

.textalbum {
    margin-left: 50px;
    width: 500px;
}

.albumpochette {
    width: 400px;
height: 400px; 
}

/*APPARITIONS*/

.Apparitionsartiste {
        width: 90vw;

        margin: auto;

}
}

@media only screen and (max-width: 768px) { 
    body {
        font-family: 'Calibri', sans-serif !important;
    }
    h1 {
        font-family: 'Calibribolt', sans-serif !important;
        color: #1E1E1E;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    }
    h2 {
        font-family: 'Calibribolt', sans-serif !important;
        color: #1E1E1E;}
    /* TOP */

    .nomartiste {
        font-size: 40px;
        text-align: center;
    }
    .divtopdroite {
        margin-top: 15px;
    }
    .divtop {
        display: flex;
        flex-direction: column;
        
        margin-top: 15px;
        margin-bottom: 15px;
    
    
    }
    .logotopdroite {
        width: 40px!important;
        margin-right: 25px!important;
        margin-top: 10px!important;
    }
    .phototopgauche {
        width: 100vw;
        margin: auto;
    }
    
    ul {
        list-style-type: none;
    
    }

    .followtheartist {
        padding-left: 20px!important;
    }

    /*ALBUM*/ 
    .albumartiste {
    
        width: 90vw;
        margin: auto;
    }
    
    .album1, .album2,.album3, .album4, .album5, .album6 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    
    .trait {
        width: 0px;
        height: 0px;
        background-color: white;
    
    }
    
    .textalbum {
        margin-top: 10px;
        width: 200px;
    }
    
    .albumpochette {
        width: 150px;
    height: 150px; 
    }
    
    /*APPARITIONS*/
    
    .Apparitionsartiste {
            width: 90vw;
    
            margin: auto;
    
    }
}