@font-face {
    font-family: 'Calibri';
    src: url('../police/calibri.ttf') format('truetype');
    /* Ajoutez d'autres formats de police si nécessaire (e.g., woff, woff2) */
}

@font-face {
    font-family: 'Calibribolt';
    src: url('../police/calibri_bold.ttf') format('truetype');
    /* Ajoutez d'autres formats de police si nécessaire (e.g., woff, woff2) */
}

.titrefooter {
    font-family: 'Calibribolt', sans-serif !important;
}

.logofooter {
    width: 35px;
    margin-right: 10px;
}

.buttonfooter {
    margin-bottom: 15px;
}

.divdroitefooter {
    display: flex; flex-direction: column;
}

.logofootersocial {
    display: flex;
    flex-direction: row;
}
@media (max-width: 767px) {
    .hidden-on-mobile {
        display: none;
    }

    h6 {
        cursor : pointer
    }
}